@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Kesato';
  font-style: normal;
  // font-weight: 400;
  font-display: swap;
  src: url('/font/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'Kesato-light';
  font-style: normal;
  // font-weight: 400;
  font-display: swap;
  src: url('/font/CircularStd-Book.otf');
}

@font-face {
  font-family: 'See-more';
  font-style: normal;
  // font-weight: 400;
  font-display: swap;
  src: url('/public/font/TiemposHeadline-Medium.otf');
}

body {
  background-color: #efeee7;
  font-family: 'Kesato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3e4543;
  line-height: 180%;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-hero-wrapper {
  height: calc(100vh - 58px);
}

.navbar-right {
  font-size: 14px;
  height: 50px;
  color: black;

  a {
    display: block;
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  li:not(:last-child):before {
    content: '';
    height: 30px;
    width: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.video {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 100px;
  position: relative;
}

.video img {
  width: 90%;
}

.player-btn {
  width: 80px;
  height: auto;
  position: absolute;
  fill: white;
}

.svg-player {
  fill: white;
  height: 60px;
  width: auto;
}

.row-jobs {
  width: 100%;
  // padding-left: 30px;
  // padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: center;
}

.kesato-jobs {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.jobs {
  width: auto;
  padding-left: 15px;
  font-family: Kesato-light, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right: 15px;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
}

.wrapper-beforeservice {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  font-size: 24px;
}

.agency-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -30px;
  right: -60px;
}

.wraper-service {
  padding-top: 200px;
  position: relative;
  margin-top: 50px;
}

.row-services {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.content-left {
  flex: 0 0 120px;
  max-width: 120px;
}

.content-right {
  flex-grow: 1;
  padding-left: 150px;
}

.dots-right {
  position: absolute;
  width: 400px;
  right: 0;
  top: 0;
}

.service-title h1 {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 50px;
}

.abstract-left {
  margin-top: -50px;
  width: 100px;
}

.creative-menu h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.creative-menu p {
  font-family: kesato-light, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row-carousel {
  // display: flex;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.coloumn-left-carousel {
  // flex: 0 0 25%;
  // max-width: 25%;
  float: left;
  width: 25%;
  min-height: 1px;
}
.coloumn-right-carousel {
  // flex: 0 0 75%;
  // max-width: 75%;
  // padding-left: 35px;
  float: left;
  width: 75%;
  min-height: 1px;
}

.wrapper-carousel {
  width: 100%;
}

.photo-swiper {
  height: 60vh;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .emblembe {
    position: absolute;
    z-index: 5;
    width: 100px;
    left: 10px;
    bottom: 15px;

    svg {
      // fill: #85c6a4;
      fill: #fff;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(226, 104, 54, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &.webdev {
    &:before {
      background: rgba(133, 198, 164, 0.7);
    }

    .emblembe svg {
      fill: #85c6a4;
    }
  }

  &.socmed {
    &::before {
      background: rgba(244, 185, 195, 0.7);
    }

    .emblembe svg {
      fill: #f4b9c3;
    }
  }

  &.dkv {
    &::before {
      background: rgba(226, 104, 54, 0.7);
    }

    .emblembe svg {
      fill: #e26836;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
      top: 0;
      visibility: visible;
    }

    .emblembe svg {
      fill: white;
    }
  }
}

.ornaments-left {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: -220px;
}

.ornaments-right {
  position: absolute;
  width: 80px;
  right: 0;
  bottom: -300px;
}

.container-middle {
  max-width: 900px;
  margin: 0 auto;
}

.row-middle {
  display: flex;
  flex-wrap: wrap;
}

.team-desc {
  width: 58.4%;
  padding-right: 20px;
}

.team-video {
  width: 41.6%;
}

.team-video-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.team-title h1 {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 50px;
}

section.client {
  padding-top: 100px;
}

.team-desc p {
  font-family: kesato-light, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.see-more {
  padding-top: 50px;
  font-family: see-more;
  font-weight: 500;
  color: gray;
}

section.footer {
  padding-top: 120px;
  padding-bottom: 50px;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-footer {
  display: flex;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: nowrap;
  position: relative;

  .col-footer {
    width: 10%;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child)::before {
      content: '';
      position: absolute;
      width: 1px;
      top: 5px;
      bottom: 5px;
      right: 0;
      background: #333;
    }

    &.col-info {
      flex: 1 1 auto;
      line-height: normal;
      font-family: kesato-light;
      font-size: 12px;
      color: black;
      h3 {
        font-weight: 900;
      }
    }
    &.col-social-icon {
      max-width: 70px;
    }
    svg {
      width: 30px;
    }
  }
}

.footer-2 {
  padding-top: 15px;
  max-width: 800px;
  margin: 0 auto;
  font-family: see-more;
  font-weight: 600;
  color: gray;

  li {
    font-size: 12px;
    margin: 10px 0;
  }
}

.breadcrumbs {
  max-width: 900px;
  margin: 0 auto;
}

.about-ornaments-left {
  position: absolute;
  width: 120px;
  left: 0;
  bottom: -30px;
}

.about-ornaments-right {
  position: absolute;
  width: 80px;
  right: 0;
  bottom: -10px;
}

.about-container-middle {
  max-width: 900px;
  margin: 0 auto;
}

.about-title h1 {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 50px;
}

.agency-logo-about {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -60px;
  right: -50px;
}

.culture-dots-right {
  position: absolute;
  width: 400px;
  right: 0;
  top: 135px;
}

.culture-desc {
  width: 65%;
  padding-right: 30px;
}

.culture-picture {
  width: 35%;
  position: relative;
}

::-webkit-input-placeholder {
  color: #3a403f !important;
  font-size: 14px;
  font-style: italic;
  padding-left: 20px;
}

.styling-files {
  input[type='file'] {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }
  label {
    border: 1px solid black;
    display: inline-block;
    padding: 12px 25px;
    cursor: pointer;
  }
}

.join-ornaments-left {
  position: absolute;
  width: 150px;
  left: 0;
  top: 100px;
}

.join-ornaments-right {
  position: absolute;
  width: 110px;
  right: 0;
}

.agency-logo-join {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -55px;
  right: -65px;
}

.agency-logo-brand {
  position: absolute;
  width: 110px;
  height: 100px;
  bottom: -60px;
  right: -50px;
}

.logo-brand-left {
  position: absolute;
  width: 110px;
  height: 100px;
  bottom: -60px;
  left: -50px;
}

.contact-ornaments-left {
  position: absolute;
  width: 250px;
  left: 0;
  top: 0;
}

.contact-ornaments-right {
  position: absolute;
  width: 350px;
  right: 0;
  top: 0;
}

.bottom-ornaments-left {
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 0;
  margin-left: 0 auto;
}
